
.navGeral{
    background-color: black !important;
}

.navbarzinha {
    color: #ffffff;
    display: flex;
    font-size:1.9vh;
}

.navbarzinha:hover {
    color: #b226f3;
    display: flex;
    scale: 1.1;
   
}
.navbarzinhaLogo {
    color: #ffffff;
    font-size: 1.2rem;
    display: flex;
}

.navbarzinhaLogo p {
    color: #ffffff;
    display: flex;
    margin-top: 1.6vh;
}


 img{
 width: 8vh;
 height: 3.5vh;
 margin-top: 1.2vh; 

}