
.navGeral{
    background-color: black !important;
}

.navbarzinha {
    color: #ffffff;
    display: flex;
    font-size:1.9vh;
}

.navbarzinha:hover {
    color: #b226f3;
    display: flex;
    scale: 1.1;
   
}
.navbarzinhaLogo {
    color: #ffffff;
    font-size: 1.4rem;
}

.navbarzinhaLogo:hover {
    color: #b226f3;
    display: flex;
    scale: 1.03;
    
}
